* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

$transition: 0.3s all ease-in-out;
$main-beige: #EEEBE5;
$light-gray: #EAEAEA;
$main-green: #CEF9C6;
$gray: #9B9B9B;
$main-yellow: #FFC200;

// @import "toastr";


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('./font/opensans/opensanslight.woff2') format('woff2'),
        url('./font/opensans/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'),
        url('./font/opensans/opensans.woff2') format('woff2'),
        url('./font/opensans/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('./font/opensans/opensansbold.woff2') format('woff2'),
        url('./font/opensans/opensansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@mixin font-300-OS {
    font-family: 'Open Sans';
    font-weight: 300;
}

@mixin font-400-OS {
    font-family: 'Open Sans';
    font-weight: 400;
}


@font-face {
    font-family: 'Heebo';
    src: local('Heebo Light'), local('Heebo-Light'),
        url('./font/Heebo/Heebo-Light.eot?#iefix') format('embedded-opentype'),
        url('./font/Heebo/Heebo-Light.woff2') format('woff2'),
        url('./font/Heebo/Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: local('Heebo Medium'), local('Heebo-Medium'),
        url('./font/Heebo/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/Heebo/Heebo-Medium.woff2') format('woff2'),
        url('./font/Heebo/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: local('Heebo Bold'), local('Heebo-Bold'),
        url('./font/Heebo/Heebo-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/Heebo/Heebo-Bold.woff2') format('woff2'),
        url('./font/Heebo/Heebo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: local('Heebo Regular'), local('Heebo-Regular'),
        url('./font/Heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Heebo/Heebo-Regular.woff2') format('woff2'),
        url('./font/Heebo/Heebo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@mixin font-300-Heebo {
    font-family: 'Heebo', 'Open Sans', Arial, sans;
    font-weight: 300;
}


@mixin font-400-Heebo {
    font-family: 'Heebo', 'Open Sans', Arial, sans;
    font-weight: 400;
}


@mixin font-bold-Heebo {
    font-family: 'Heebo', 'Open Sans', Arial, sans;
    font-weight: 700;
}

@mixin white-text {
    color: white;
    font-size: 14px;
    line-height: 22px;
    @include font-bold-Heebo;
}

a {
    text-decoration: none;
    transition: $transition;

    &:hover {
        text-decoration: none;
        transition: $transition;

    }
}

body {
    // @include font-400-OS;
    background: $main-beige;
    min-height: 100vh;
    font-family: 'Heebo', 'Open Sans', Arial, sans;
}

.flex {
    display: flex;

    &--center {
        justify-content: center;
        align-items: center;
    }
}

.form {
    background: white;
    border-radius: 8px;

    .gap {
        &--bottom {
            margin-bottom: 25px;
        }

        &--right {
            margin-right: 23px;
        }
    }

    label {
        // heebo 
        @include font-400-Heebo;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 7px;
        display: block;
    }

    input:not([type="submit"]),
    textarea {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        background: $light-gray;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 24px;
        @include font-400-Heebo;
        //heebo
    }

    textarea {
        height: 120px;
    }

    input[type="submit"] {
        background: $main-green;
        padding: 15px 47px;
        border-radius: 25px;
        font-size: 15px;
        line-height: 22px;
        @include font-bold-Heebo;
        //heebo;
        margin: 40px 0;

        cursor: pointer;
        transition: $transition;

        &:hover {
            background: darken($main-green, 15%);
            transition: $transition;
        }
    }

    &__logo {
        width: 198px;
        height: auto;
        margin-bottom: 70px;
    }


    .team__select__layout {
        width: 650px;
        flex-flow: wrap;
        justify-content: space-between;



    }

    .radiobtn__immitation {
        width: calc((100% - 20px) / 2);
        padding: 25px 20px;
        background: #F7F6F3;
        border-radius: 8px;
        cursor: pointer;
        height: 80px;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 27px;
        @include font-400-Heebo;
        margin-bottom: 20px;

        input {
            position: absolute;
            top: 0;
            right: 0;
            height: 0;
            width: 0;
            pointer-events: none;
            opacity: 0;

        }

        input:checked~.checkmark {
            background: darken($main-green, 10%);
            transition: $transition;

            svg * {
                fill: white;
            }
        }

        .checkmark {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            position: relative;
            transition: $transition;

            svg {
                width: 12px;
                height: auto;
            }
        }



    }
}

.input__wrapp {
    position: relative;

    .info__icon {
        position: absolute;
        right: 20px;
        top: 16px;
        pointer-events: none;
        width: 20px;
        height: auto;
    }


}

.dropdown {
    position: relative;

    .dropdown__toggle {

        display: block;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        background: $light-gray;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 24px;
        @include font-400-Heebo;
        cursor: pointer;
        position: relative;

        input {
            padding: 0;
            width: 100%;
            cursor: pointer;
            height: auto;
        }

        img {
            position: absolute;
            right: 20px;
            top: 16px;
        }

        .info__icon {
            transform: rotate(0);
            transition: $transition;
        }

        &.active {
            .info__icon {
                transform: rotate(180deg);
                transition: $transition;
            }
        }
    }

    &--open &__list {
        opacity: 1;
        overflow-y: auto;
        height: unset;
        transition: opacity 0.3s ease-in-out;
        background: white;
    }

    &__list {
        border: 1px solid #E8ECEF;
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        z-index: 9;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        max-height: calc(50px * 5.5);
    }

    &__list__item {
        height: 51px;
        display: flex;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #E8ECEF;
        box-sizing: border-box;
        background: white;
        display: flex;
        align-items: center;
        padding: 10px 20px;


        &:last-child {
            border: unset;
        }

        .form__input {
            border-radius: unset;
            border: unset;
        }

        img {
            display: block;
        }
    }

}

.tag__dropdown {
    .dropdown__toggle {
        position: relative;
    }

    .label {
        font-size: 12px;
        line-height: 20px;
        color: white;
        @include font-bold-Heebo;
        padding: 2px 6px;
        border-radius: 20px;
        background: #764CED;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase
    }
}

.additional__info {

    p,
    a {
        @include font-400-Heebo;
        font-size: 15px;
        line-height: 22px;
        display: inline;
        color: #1D201C
    }

    a {
        text-decoration: underline;

        &:hover {
            color: lighten(#1D201C, 30%);
        }

    }
}

.form {

    &--registration,
    &--login {
        padding: 80px 30px 70px 30px;
        width: 505px;

    }

    &--setup {
        width: 730px;
        padding: 80px 40px 70px 40px;

        .logo--compressed {
            width: 70px;
            height: auto;
            margin: 0 auto;
            display: block;
            margin-bottom: 80px;
        }

        h1 {
            font-size: 26px;
            line-height: 38px;
            @include font-bold-Heebo;
            text-align: center;
            margin-bottom: 60px;
        }

        input[type="submit"] {
            margin-left: auto;
            display: table;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }

    .w-260 {
        width: 260px;
    }

    .w-230 {
        width: 230px;
    }

    .w-200 {
        width: 200px;
    }

    &--profile {
        width: 730px;
        padding: 40px 95px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &--task {
        width: 653px;
        padding: 60px 30px 30px 30px;
        margin: 0 auto;
    }
}

.grid__layout {
    display: grid;
    grid-template-areas:
        "aside header "
        "aside main ";
    grid-template-rows: 140px 1fr;
    grid-template-columns: 270px 1fr;
    grid-gap: 0;
    height: 100vh;
    margin: 0;
}

aside {
    grid-area: aside;
    background: black;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 150px;


}

header {
    background: white;
    grid-area: header;
    padding: 35px 30px 0 30px;
    overflow: hidden;
}

.tab__navigation {
    margin-top: 19px;

    li {
        list-style: none;
        display: inline-block;
        padding-bottom: 15px;
        margin-right: 28px;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 42px;
            background: transparent;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    a {
        font-size: 16px;
        line-height: 24px;
        @include font-bold-Heebo;
        color: #707070;

        &:hover {
            color: lighten(#707070, 20%);
        }
    }

    .active {
        &:after {
            background: $main-yellow;
        }

        a {
            color: black;
        }
    }
}

main {
    background: $main-beige;
    grid-area: main;
    padding: 30px 30px 30px 30px;
    height: calc(100vh - 140px);
}

.logo__section {
    padding: 30px 20px 30px 30px;

    .aside--logo {
        width: 130px;
        height: auto;
    }
}

.user {
    &__section {
        align-items: center;
        padding: 16px 20px 16px 30px;
        background: #202020;
        margin-bottom: 20px;
    }

    &__icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__name,
    &__role {
        @include font-bold-Heebo;
        font-size: 10px;
        line-height: 14px;
        color: white;
        margin-bottom: 5px;
    }

    &__role {
        margin-bottom: 0;
        color: #9B9B9B;
    }

    &__statistics {
        padding: 0 30px;
        margin-bottom: 32px;
    }
}

.tasks {
    &--closed {
        width: 60%;
    }

    &__number {
        font-size: 20px;
        line-height: 29px;
        @include font-bold-Heebo;
        color: white;
    }

    &__description {
        font-size: 11px;
        line-height: 18px;
        color: $gray;
        @include font-bold-Heebo;
        white-space: nowrap;
        ;
    }
}

.section {
    &__title {
        @include font-bold-Heebo;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: $gray;
        margin-bottom: 13px;
        padding-left: 30px;
    }
}

.menu {
    margin-bottom: 30px;

    &__list li {
        padding: 10px 30px;
        transition: $transition;

        &:hover {
            background: darken($gray, 50%);

            transition: $transition;
        }

        a {
            @include white-text;
            display: block;
        }
    }

    .notification {
        &__count {
            width: 20px;
            height: 20px;
            background: $main-yellow;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            color: black;
            margin-left: 7px;
        }
    }
}



.projects {
    margin-bottom: 30px;

    &__list li {
        border-left: 5px solid transparent;
        transition: $transition;
        padding: 10px 25px;
        display: flex;
        align-items: center;

        a {
            @include white-text;
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;

            position: relative;

            &:after {
                content: '';
                display: block;
                width: 50px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
            }
        }


        &:hover {
            background: darken($gray, 50%);
            transition: $transition;
            border-left: 5px solid $main-yellow;

            a:after {
                background: linear-gradient(to left, darken($gray, 50%), rgba(0, 0, 0, 0));
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-right: 10px;
    }

    &--create {
        font-size: 14px;
        line-height: 22px;
        @include font-bold-Heebo;
        color: $main-yellow;
        padding: 10px 30px;
        display: block;
    }
}


.team {
    &__description {
        align-items: center;
        padding: 10px 30px;
    }

    &__side {
        @include white-text;
    }

    &__members {
        margin-left: auto;

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 5px;
            flex-shrink: 0;

        }
    }
}

.prj {
    &__title__block {
        align-items: center;

        h1 {
            font-size: 32px;
            line-height: 47px;
            @include font-bold-Heebo;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-right: 15px;
        flex-shrink: 0;
    }

    .members__block {
        align-items: center;
        margin-left: auto;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            flex-shrink: 0;
            object-fit: cover;
            margin-left: 5px;
        }
    }
}

.kanban__block {
    // justify-content: space-between;
    align-items: flex-start;
}

.item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item__title {
        font-size: 24px;
        line-height: 35px;
        @include font-bold-Heebo;
        color: #131313;
    }

    .item__btn {
        @include font-bold-Heebo;
        font-size: 12px;
        line-height: 18px;
        color: #1D201C;
        background: $main-green;
        border-radius: 20px;
        padding: 11px;
    }
}

.column {
    background: white;
    border-radius: 8px;
    padding: 30px;
    height: auto;
}

.task__column {
    width: 350px;
    max-height: 100%;
    overflow-y: auto;
    margin-right: 25px;

    &:last-child{
        margin-right: 0;
    }

    .item__header {
        margin-bottom: 20px;
    }
}

.task {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &__block {
        padding: 20px 30px;
        background: #F7F6F3;
        border-radius: 8px;
        display: block;


    }

    &--active {
        background: #FFF8DD;
    }


    .checkbox {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        flex-shrink: 0;
        cursor: pointer;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            cursor: pointer;
            left: 0;
        }

        img {
            width: 13px;
            height: auto;
        }

        &--big {
            width: 40px;
            height: 40px;
            background: #EAEAEA;

            img {
                width: 16px;
                height: auto;
            }
        }
    }

    &--finished {

        .checkbox {
            background: $main-green;

            svg * {
                fill: black;
            }
        }
    }

    &__description {
        font-size: 18px;
        line-height: 27px;
        @include font-400-Heebo;
        color: #131313;
        margin-bottom: 8px;
        max-height: calc(27px * 2.3);
    }

    &__executor {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__label {
        font-size: 12px;
        line-height: 20px;
        @include font-bold-Heebo;
        padding: 1px 11px;
        text-transform: uppercase;
        border-radius: 20px;

        &.development {
            background: #FFF1E2;
            color: #ED6400;
        }

        &.marketing {
            background: #F5F0FF;
            color: #764CED;
        }

        &.design {
            background: #E3EFFF;
            color: #1975D0;
        }
    }

    &__img {
        width: 100%;
        height: 85px;
        object-fit: cover;
        overflow: hidden;
        margin-top: 20px;
    }

}

.profile__setup {
    overflow-y: scroll;

    .team__wrapp {
        display: flex;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        background: $light-gray;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 24px;
        @include font-400-Heebo;
    }

    input.team__input {
        width: 100%;
        height: auto;
        margin-bottom: -13px;
        padding: 0;
        margin-top: -13px;

        &:focus,
        &:active {
            outline: none
        }
    }

    input[type="submit"] {
        width: 100%;
        margin-bottom: 0;
    }

    input.cancel__btn {
        background: white;
        color: black;
        margin: 0;
        @include font-400-Heebo;

        &:hover {
            background: white;
            color: lighten(black, 40%);
        }
    }

    .team__name {
        font-size: 14px;
        line-height: 30px;
        @include font-400-Heebo;
        color: #131313;
        padding: 6px 15px;
        background: white;
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        .close__icon {
            width: 9px;
            height: auto;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .profile__icon {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 33px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    .file-input__wrapp {
        font-size: 11px;
        line-height: 20px;
        @include font-400-Heebo;
        color: #131313;
        background: #EAEAEA;
        height: 33px;
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: -3px;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background: darken(#EAEAEA, 15%);
            transition: $transition;
        }

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
            background: red;
            cursor: pointer;
            margin-top: -20px;
        }
    }
}

.task__setup {
    overflow-y: scroll;

    .form--task {
        h2 {
            font-size: 32px;
            line-height: 47px;
            @include font-bold-Heebo;
            color: #131313;
            margin-bottom: 50px;
        }

        hr {
            width: 100%;
            margin: 0;
            height: 1px;
            background: #ECECEC;
            margin-bottom: 30px;
        }

        input[type="submit"] {
            margin-bottom: 0;
            margin-top: 60px;
        }
    }

}

.members {
    width: 455px;
    background: white;
    border-radius: 8px;
    padding: 30px;

    &__list {
        overflow-y: scroll;
        height: 100%;
        margin-right: 30px;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__title,
    &__count {
        font-size: 26px;
        line-height: 38px;
        @include font-bold-Heebo;
        color: #131313;
        display: inline;
    }

    &__count {
        margin-left: 10px;
        color: #707070;
    }

    &__card {
        background: #F7F6F3;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        margin-right: 15px;
        flex-shrink: 0
    }

    &__name {
        font-size: 18px;
        line-height: 27px;
        color: #131313;
        @include font-bold-Heebo;
    }

    &__role {
        font-size: 14px;
        line-height: 21px;
        color: #707070;
        @include font-bold-Heebo;
    }

    &__tasks {
        margin-left: auto;

        .tasks__count {
            font-size: 26px;
            line-height: 38px;
            @include font-bold-Heebo;
            color: #131313;
            text-align: right
        }

        .plain__text {
            font-size: 14px;
            line-height: 21px;
            @include font-bold-Heebo;
            color: black;
            opacity: 7;
            margin-top: -10px;
        }
    }

}

.profile {
    background: white;
    width: 625px;
    border-radius: 8px;
    height: 100%;
    overflow: scroll;

    &__img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin-right: 30px;
    }

    &__header {
        align-items: center;
        padding: 35px 30px 45px 30px;
        border-bottom: 1px solid #ECECEC
    }

    &__name {
        font-size: 26px;
        line-height: 38px;
        @include font-bold-Heebo;
        color: black;
        margin-bottom: 5px;
    }

    &__role {
        font-size: 16px;
        line-height: 24px;
        @include font-bold-Heebo;
        color: rgba(0, 0, 0, 0.7);
    }

    .subtitle {
        font-size: 20px;
        line-height: 29px;
        color: black;
        @include font-bold-Heebo;
        margin-bottom: 20px;

        span {
            opacity: 0.7;
        }
    }

}

.task__review {
    padding: 40px 30px 35px 30px;
    border-bottom: 1px solid #ECECEC;

    &__block {
        width: 50%;

        .count {
            font-size: 26px;
            line-height: 38px;
            @include font-bold-Heebo;
            color: black;
            margin-bottom: 5px;
            text-align: right
        }

        .text {

            font-size: 14px;
            line-height: 21px;
            @include font-bold-Heebo;
            color: rgba(0, 0, 0, 0.7);
            margin-top: -10px;

        }

        .result__chart {
            width: 155px;
            height: auto;
            margin-left: 9px;
            flex-shrink: 0;
        }
    }
}



.assigned__task {
    padding: 30px;
    border-bottom: 1px solid #ECECEC;

    .task__block {
        display: flex;
    }

    .max__container {
        max-height: 400px;
        overflow-y: scroll
    }
}

.activity__block {
    padding: 30px;

    .subtitle {
        margin-bottom: 34px;
    }
}

.activity {

    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 20px;
    }

    &__text {
        color: black;
        @include font-400-Heebo;
        font-size: 16px;
        line-height: 20px;

        a {
            @include font-bold-Heebo;
            color: black;

            &:hover {
                color: lighten(black, 30%);
            }
        }
    }

    &__time {
        width: 40px;
        margin-left: auto;

        span {
            font-size: 14px;
            line-height: 20px;
            @include font-bold-Heebo;
            color: black;
            opacity: 0.7;
            display: block;

            &:last-child {
                margin-top: -5px;
            }
        }
    }
}


.tasks__column,
.profile,
.members,
.task__desctiption,
.calendar__bottom {

    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #DCD9D3;
        border-radius: 5px
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken(#DCD9D3, 10%);
    }
}

.tasks__column {
    width: 445px;
    background: white;
    border-radius: 6px;
    padding: 30px;
    margin-right: 25px;

    .item__header {
        margin-bottom: 20px;
    }

    .task__block {
        display: flex;

        &:last-child {
            margin-bottom: 30px;
        }
    }
}

.task__desctiption {
    background: white;
    border-radius: 8px;
    width: 640px;

    .title {
        align-items: center;
        justify-content: space-between;

        img {
            width: 40px;
            height: auto;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    &__header {
        padding: 30px;
        padding-bottom: 0;
    }

    .author__list {
        font-size: 16px;
        line-height: 24px;
        @include font-400-Heebo;
        color: #131313;
    }

    .info__block {
        margin-top: 33px;
    }

    .dueon__block {
        margin-right: 40px;
    }

    .legend {
        font-size: 16px;
        line-height: 20px;
        @include font-400-Heebo;
        color: black;
        height: 24px;
        margin-bottom: 6px;

        &--bold {
            @include font-bold-Heebo;
        }
    }

    .execuror__block {
        margin-right: 40px;

        .executor {
            &__img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 5px;
            }

            &__name {
                font-size: 16px;
                line-height: 20px;
                @include font-400-Heebo;
                color: black;
            }
        }
    }

    &__textarea {
        margin-top: 30px;
        border-top: 1px solid #ECECEC;
        max-height: 225px;
        padding: 45px 0 50px 0
    }

    &__comments {
        border-top: 1px solid #ECECEC;
        padding: 50px 30px;

    }
}

.comment__input__wrapp {
    align-items: center;
    margin-bottom: 20px;

    .comment__icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
        flex-shrink: 0;
    }

    .comment__input,
    .comment__submit {
        height: 40px;
    }

    input.comment__submit {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 5px 10px;
        margin-left: 10px;
        flex-shrink: 0;
    }
}

.commet {
    position: relative;
    margin-bottom: 20px;

    &__icon {
        height: calc(48px + 10px);
        width: calc(48px + 10px);
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        z-index: 9;

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }

    &__text__wrapp {
        background: #F7F6F3;
        padding: 20px 20px 20px 40px;
        border-radius: 10px;
        position: relative;
        width: 95%;
        margin-left: auto
    }

    .person__tag {
        color: $main-yellow;
        @include font-bold-Heebo;
    }

    &__date {
        font-size: 12px;
        line-height: 18px;
        @include font-400-Heebo;
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__name {
        @include font-bold-Heebo;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    &__role {
        @include font-400-Heebo;
    }

    &__text {
        @include font-400-Heebo;
        font-size: 15px;
        line-height: 22px;

    }
}

.calendar__layout {
    .tasks__column {
        margin-right: 0;
    }
}

.calendar__column {
    background: white;
    border-radius: 8px;
    width: 635px;
    margin-right: 30px;

    .item__header {
        padding: 30px;
        padding-bottom: 0;
    }
}

.calendar__header {
    padding: 0 33px;
    border-bottom: 1px solid #ECECEC;
    margin-top: 15px;

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
        width: 77px;
        padding-bottom: 13px;
        font-size: 14px;
        line-height: 21px;
        @include font-bold-Heebo;
        text-transform: uppercase;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.calendar__bottom {
    display: grid;
    grid-template-rows: repeat(10, 77px);
    grid-template-columns: repeat(7, 77px);
    grid-gap: 5px;
    padding: 20px 33px;
    height: calc(100% - 65px - 50px);
}

.calendar__bottom>div {
    padding: 10px;
    background: #F7F6F3;
    border-radius: 8px;
    position: relative;
    height: 77px;
    width: 77px;

    &.white {
        background: white !important;
    }

    &:nth-child(7n),
    &:nth-child(7n - 1) {
        background: #F6E9E9;
    }

    &.yellow {
        background: #FFF8DD !important;
    }

    .number {
        text-align: left;
        @include font-bold-Heebo;
        font-size: 18px;
        line-height: 27px;
        color: rgba(0, 0, 0, 0.5);
    }

    .tasks {
        font-size: 12px;
        line-height: 20px;
        color: black;
        @include font-bold-Heebo;
        position: absolute;
        bottom: 11px;
        left: 10px;
    }

}